

 <div class="container mt-3">
  <div class="text-center">
      <h1> Hello, <%= @order.user.first_name%></h1>
        <h3>You've bought <%=@order.quantity %> - <%= @order.product.name %></h3>
          <h4>Congratulations on your purchase!</h4>
          <div class="mt-4">
            <p class="btn btn-success rounded-3"><%= link_to 'Back to the products list', root_path, class: "text-decoration-none" %></p>
          </div>
  </div>
</div>
