.btn-std {
  background-color: #C34EE8;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  a {
    color: #00FFCA;
  }
}

.btn-std:hover {
  background-color: #9F2FD7;
  color: #00D6A2;
}
