<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
    <li><%= product.price %></li>
  <% end %>
</ul>

<ul>
  <% Product::CATEGORIES.each  do |category|%>
    <li><%= link_to category, products_path(category: category) %></li>
  <% end %>
</ul>
<p><%= link_to 'Cria produtos', new_product_path%></p>
