<h1><%=  @product.name %></h1>

<% if current_user %>
  <%= simple_form_for [@product, @order] do |f| %>
    <%= f.input :quantity %>
    <%= f.submit "Comprar", class: 'btn btn-primary' %>
  <% end  %>
<% end %>
